// Primary colors
$primary-purple: #6807F9;
$primary-yellow: #EDF67D;
$primary-pink: #FF0094;

// Secondary colors
$secondary-purple: #8534FF;
$secondary-red: #FF003D;
$secondary-green: #4AC047;
$secondary-orange: #FF7E00;
$secondary-blue: #0326CB;
$secondary-black: #08080D;
$secondary-gray: #B4B4BE;

$secondary-light-gray: #F0F4F5;


// Sizes
$max-content-width: 1280px;
$header-height: 20vh;