@import './variables';


section#hero {
  background: $primary-purple;
  position: relative;

  width: 100%;
  height: 90vh;
  max-height: 67.3rem;
  
  .container {
    display: flex;
    color: #fff;
    padding-right: 0;

    .data {
      display: flex;
      flex-direction: column;
      padding: $header-height 0 0;
      
      h1 {
        font-weight: 700;
        font-size: 2.8rem;
        line-height: 2.797rem;
        max-width: 36.8rem;
      }

      p {
        max-width: 47.2rem;
        line-height: 2.526rem;
        margin: 2rem 0 3.3rem;
      }

      a {
        width: 100%;
        max-width: 28.2rem;
        border-radius: 4px;
        background: $primary-pink;
        padding: 1.6rem 3rem;

        color: #fff;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 2.194rem;
        text-decoration: none;

        cursor: pointer;
        transition: 0.3s;

        &:hover {
          filter: brightness(93%);
          transform: translateY(-0.2rem) scale(1.005);
        }
      }
    }

    .images {
      background: $secondary-purple;
      display: flex;
      width: 45vw;
      height: 51.5rem;

      position: absolute;
      right: 0;
      top: 0;

      border-bottom-left-radius: 2rem;

      .wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;

        .image-group {
          display: flex;
          flex-direction: column;
          width: min-content;

          #dots-01 {
            margin: 8.8rem 4.9rem 0 0;
            align-self: flex-end;
          }
    
          #dots-02 {
            margin: 0 0 1.9rem 1.3rem;
            align-self: flex-start;
          }
    
          #img-hero-01 {
            z-index: 2;
          }
    
          #img-hero-02 {
            margin-left: -1.7rem;
          }

          &.group-01 {
            margin-bottom: -8.8rem;
            margin-left: -5.5rem;
          }

          &.group-02 {
            margin-bottom: -8.5rem;
          }
        }
      }

      @media (max-width: 980px) {
        position: relative;
        width: 60%;
        align-self: flex-start;
        margin-left: 10rem;

        .image-group {
          #img-hero-01,
          #img-hero-02 {
            max-width: 20rem;
          }

          #dots-01,
          #dots-02 {
            max-width: 8rem;
          }

          &.group-01 {
            margin-bottom: -8.8rem;
            margin-left: -5.5rem;
          }

          &.group-02 {
            margin-bottom: -8.5rem;
          }
        }
      }
    }
  
  }

  

  @media (max-width: 700px) {
    height: min-content;
    max-height: none;
    padding-bottom: 15rem;

    .container {
      flex-direction: column;
      align-items: center;
  
      .data {
        width: 100%;
        align-items: center;
        text-align: center;

        h1, p {
          max-width: 90%;
        }
      }
  
      .images {
        width: 60vw;
        height: auto;
        padding-top: 6rem;
        margin-top: 6rem;
        align-self: flex-end;
        border-top-left-radius: 2rem;
      }
    }
  }

  @media (max-width: 500px) {

    .container {
  
      .images {
        width: 70vw;

        .image-group {
          #img-hero-01,
          #img-hero-02 {
            max-width: 15rem;
          }

          #dots-01,
          #dots-02 {
            max-width: 6rem;
          }
        }
      }
    }
  }


  svg.arrow-down {
    position: absolute;
    bottom: 2rem;
    left: 50%;

    animation: up-down 3s ease-in-out infinite backwards;
  }
}

section#clients {
  position: relative;

  .container {
    display: flex;
    justify-content: flex-end;
    color: #323232;
    
    .images {
      background: $secondary-light-gray;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      width: 45vw;
      height: 51.5rem;
      margin-top: 6.3rem;

      position: absolute;
      left: 0;
      top: 0;

      border-bottom-right-radius: 2rem;
      border-top-right-radius: 2rem;

      img {
        margin: 0 -7rem -15rem 0;
      }

      @media (max-width: 980px) {
        position: relative;
        width: 100%;
        margin-right: 10rem;

        img {
          width: 30rem;
        }
      }

    }

    @media (max-width: 700px) {
      flex-direction: column;
      align-items: center;

      .images {
        height: 35rem;
        width: 60vw;
        align-self: flex-start;
        transform: translateX(-1rem);
  
        img {
          width: 20rem;
          margin: 0 -3rem 0 0;
        }
      }

      .data {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h2, p {
          max-width: 90% !important;
        }
      }
    }

    .data {
      margin-top: 12.3rem;

      h2 {
        max-width: 36.8rem;
        font-weight: bold;
        font-size: 2.8rem;
        line-height: 2.8rem;
      }

      p {
        margin-top: 3rem;
        max-width: 47.2rem;
        line-height: 2.27rem;

        &:nth-child(5) {
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.399rem;
        }
      }

      .logos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0.8rem 0.4rem;
        align-items: center;
        margin-top: 2.7rem;


        img {
          filter: grayscale(100%);
          opacity: 0.5;
          margin: 0 auto;
        }

        @media (max-width: 390px) {
          grid-template-columns: 1fr 1fr;
        }

        @media (max-width: 300px) {
          grid-template-columns: 1fr;
          row-gap: 2rem;
        }
      }
    }
  }
}

section#contact {
  height: 100vh;
  margin: 18rem 0 10rem;
  max-width: 100vw;
  overflow: hidden;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;

    svg {
      position: absolute;
      width: 100%;
      max-width: 80rem;
      transform: translate(-15px, 20px);
    }
  }
}

@keyframes up-down {
  0%,
  100% {
    transform: translateY(-0.5rem);
  }
  50% {
    transform: translateY(0.2rem);
  }
}