<template>
  <!-- Begin Mailchimp Signup Form -->
  <div id="mc_embed_signup">
    <form
      id="mc-embedded-subscribe-form"
      action="https://hugedevs.us7.list-manage.com/subscribe/post?u=68cc84ef0275c5341c3c4744a&amp;id=2dc17fd255"
      method="post"
      name="mc-embedded-subscribe-form"
      class="validate"
      target="_blank"
      novalidate
    >
      <div id="mc_embed_signup_scroll">
        <h2>Como podemos ajudar?</h2>

        <p>
          Deixe abaixo os dados que entramos em contato e agendaremos uma call
          para conversamos sobre seu projeto!
        </p>

        <div class="mc-field-group">
          <label for="mce-MMERGE7">Nome </label>
          <input
            id="mce-MMERGE7"
            type="text"
            value=""
            name="MMERGE7"
            class=""
          />
        </div>
        <div class="mc-field-group">
          <label for="mce-EMAIL">E-mail<span class="asterisk">*</span> </label>
          <input
            id="mce-EMAIL"
            type="email"
            value=""
            name="EMAIL"
            class="required email"
          />
        </div>
        <div class="mc-field-group">
          <label for="mce-MMERGE1">Telefone </label>
          <input
            id="mce-MMERGE1"
            type="text"
            value=""
            name="MMERGE1"
            class=""
          />
        </div>

        <div id="mce-responses" class="clear">
          <div
            id="mce-error-response"
            class="response"
            style="display: none"
          ></div>
          <div
            id="mce-success-response"
            class="response"
            style="display: none"
          ></div>
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px" aria-hidden="true">
          <input
            type="text"
            name="b_68cc84ef0275c5341c3c4744a_2dc17fd255"
            tabindex="-1"
            value=""
          />
        </div>
        <div class="clear">
          <input
            id="mc-embedded-subscribe"
            type="submit"
            value="Agendar uma conversa"
            name="subscribe"
            class="button"
          />
        </div>
      </div>
    </form>
  </div>

  <!--End mc_embed_signup-->
</template>

<style lang="scss">
form {
  background: #f0f4f5;
  width: 100%;
  max-width: 55.3rem;
  padding: 5.8rem 5.2rem;
  border-radius: 0.8rem;
  color: #323232;
  text-align: center;

  filter: drop-shadow(0px 10px 12px #0000001a);
  z-index: 2;

  h2 {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 2.797rem;
  }

  p {
    margin: 3.1rem 0 1.7rem;
  }

  .mc-field-group {
    display: flex;
    flex-direction: column;
    text-align: left;

    label {
      margin: 1.8rem 0 0.9rem;
      font-size: 1.4rem;
    }

    input {
      width: 100%;
      height: 5rem;
      padding: 0 1rem;
      background: #fff;

      border: 1px solid #cdcccc;
      border-radius: 0.4rem;
      outline: none;

      &:focus {
        border: 1px solid #acaaaa;
      }
    }
  }

  .input-block + .input-block {
    margin-top: 1.8rem;
  }

  input.button {
    width: 100%;
    max-width: 28.2rem;
    height: 5.4rem;
    margin-top: 4rem;
    padding: 1rem;
    outline: none;

    background: $primary-pink;
    box-shadow: 10px 10px 19px -3px #ff009466;
    border-radius: 0.4rem;
    border: 0;

    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.2rem;
    color: #fff;

    transition: 0.3s;
    cursor: pointer;

    &:hover {
      filter: brightness(93%);
      transform: translateY(-0.2rem) scale(1.005);
    }
  }

  @media (max-width: 500px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
</style>
