<template>
  <header class="container">
    <NuxtLink to="/">
      <svg
        width="967"
        height="180"
        viewBox="0 0 967 180"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect x="516" y="158" width="451" height="16" fill="#FF0094" />
        <path
          d="M62.3899 37.3729C75.1096 37.3729 85.3489 41.1865 93.1079 48.8136C100.994 56.4407 104.937 67.7542 104.937 82.7542V141.483H75.1732V87.3305C75.1732 79.1949 73.3924 73.1568 69.8309 69.2161C66.2694 65.1483 61.118 63.1144 54.3766 63.1144C46.872 63.1144 40.8937 65.4661 36.4418 70.1695C31.9899 74.7458 29.764 81.6102 29.764 90.7627V141.483H0V0H29.764V49.5763C33.7071 45.6356 38.477 42.6483 44.0736 40.6144C49.6703 38.4534 55.7757 37.3729 62.3899 37.3729Z"
          fill="white"
        />
        <path
          d="M235.328 38.8983V141.483H207.09V129.28C203.147 133.729 198.441 137.161 192.971 139.576C187.502 141.864 181.587 143.008 175.227 143.008C161.744 143.008 151.06 139.131 143.174 131.377C135.288 123.623 131.344 112.119 131.344 96.8644V38.8983H161.108V92.4788C161.108 109.004 168.041 117.267 181.905 117.267C189.028 117.267 194.752 114.979 199.077 110.403C203.401 105.699 205.564 98.7712 205.564 89.6186V38.8983H235.328Z"
          fill="white"
        />
        <path
          d="M368.793 38.8983V124.322C368.793 143.136 363.896 157.119 354.102 166.271C344.308 175.424 329.998 180 311.173 180C301.252 180 291.839 178.792 282.935 176.377C274.032 173.962 266.654 170.466 260.803 165.89L272.633 144.534C276.957 148.093 282.427 150.89 289.041 152.924C295.655 155.085 302.269 156.165 308.884 156.165C319.186 156.165 326.755 153.814 331.588 149.11C336.549 144.534 339.029 137.542 339.029 128.136V123.75C331.27 132.267 320.458 136.525 306.594 136.525C297.181 136.525 288.532 134.492 280.646 130.424C272.887 126.229 266.718 120.381 262.139 112.881C257.56 105.381 255.27 96.7373 255.27 86.9492C255.27 77.161 257.56 68.517 262.139 61.0169C266.718 53.5169 272.887 47.7331 280.646 43.6653C288.532 39.4703 297.181 37.3729 306.594 37.3729C321.476 37.3729 332.797 42.267 340.556 52.0551V38.8983H368.793ZM312.509 112.119C320.395 112.119 326.818 109.831 331.779 105.254C336.867 100.551 339.411 94.4492 339.411 86.9492C339.411 79.4492 336.867 73.411 331.779 68.8347C326.818 64.1314 320.395 61.7797 312.509 61.7797C304.622 61.7797 298.135 64.1314 293.048 68.8347C287.96 73.411 285.416 79.4492 285.416 86.9492C285.416 94.4492 287.96 100.551 293.048 105.254C298.135 109.831 304.622 112.119 312.509 112.119Z"
          fill="white"
        />
        <path
          d="M497.045 90.572C497.045 90.9534 496.854 93.6229 496.472 98.5805H418.819C420.218 104.936 423.525 109.958 428.74 113.644C433.955 117.331 440.442 119.174 448.201 119.174C453.543 119.174 458.25 118.411 462.32 116.886C466.517 115.233 470.397 112.691 473.958 109.258L489.794 126.419C480.127 137.479 466.009 143.008 447.438 143.008C435.863 143.008 425.624 140.784 416.72 136.335C407.816 131.758 400.948 125.466 396.114 117.458C391.281 109.449 388.864 100.36 388.864 90.1907C388.864 80.1483 391.217 71.1229 395.923 63.1144C400.757 54.9788 407.307 48.6864 415.575 44.2373C423.97 39.661 433.319 37.3729 443.622 37.3729C453.671 37.3729 462.765 39.5339 470.906 43.8559C479.046 48.178 485.406 54.4068 489.985 62.5424C494.691 70.5508 497.045 79.8941 497.045 90.572ZM443.813 59.8729C437.071 59.8729 431.411 61.7797 426.832 65.5932C422.253 69.4068 419.455 74.6186 418.437 81.2288H468.998C467.98 74.7458 465.182 69.5975 460.603 65.7839C456.024 61.8432 450.427 59.8729 443.813 59.8729Z"
          fill="white"
        />
        <path
          d="M621.416 0V141.483H592.988V129.661C585.61 138.559 574.926 143.008 560.934 143.008C551.267 143.008 542.491 140.847 534.604 136.525C526.845 132.203 520.74 126.038 516.288 118.03C511.836 110.021 509.61 100.742 509.61 90.1907C509.61 79.6398 511.836 70.3602 516.288 62.3517C520.74 54.3432 526.845 48.178 534.604 43.8559C542.491 39.5339 551.267 37.3729 560.934 37.3729C574.035 37.3729 584.275 41.5042 591.652 49.7669V0H621.416ZM566.086 118.602C573.59 118.602 579.823 116.059 584.783 110.975C589.744 105.763 592.224 98.8347 592.224 90.1907C592.224 81.5466 589.744 74.6822 584.783 69.5975C579.823 64.3856 573.59 61.7797 566.086 61.7797C558.454 61.7797 552.158 64.3856 547.197 69.5975C542.236 74.6822 539.756 81.5466 539.756 90.1907C539.756 98.8347 542.236 105.763 547.197 110.975C552.158 116.059 558.454 118.602 566.086 118.602Z"
          fill="white"
        />
        <path
          d="M749.512 90.572C749.512 90.9534 749.322 93.6229 748.94 98.5805H671.286C672.686 104.936 675.993 109.958 681.208 113.644C686.423 117.331 692.91 119.174 700.669 119.174C706.011 119.174 710.717 118.411 714.788 116.886C718.985 115.233 722.865 112.691 726.426 109.258L742.262 126.419C732.595 137.479 718.476 143.008 699.906 143.008C688.331 143.008 678.091 140.784 669.188 136.335C660.284 131.758 653.415 125.466 648.582 117.458C643.748 109.449 641.332 100.36 641.332 90.1907C641.332 80.1483 643.685 71.1229 648.391 63.1144C653.225 54.9788 659.775 48.6864 668.043 44.2373C676.438 39.661 685.787 37.3729 696.09 37.3729C706.138 37.3729 715.233 39.5339 723.374 43.8559C731.514 48.178 737.874 54.4068 742.453 62.5424C747.159 70.5508 749.512 79.8941 749.512 90.572ZM696.281 59.8729C689.539 59.8729 683.879 61.7797 679.3 65.5932C674.721 69.4068 671.922 74.6186 670.905 81.2288H721.466C720.448 74.7458 717.65 69.5975 713.071 65.7839C708.492 61.8432 702.895 59.8729 696.281 59.8729Z"
          fill="white"
        />
        <path
          d="M869.35 38.8983L826.039 141.483H795.321L752.201 38.8983H782.919L811.348 108.686L840.73 38.8983H869.35Z"
          fill="white"
        />
        <path
          d="M914.538 143.008C906.016 143.008 897.685 141.992 889.544 139.958C881.403 137.797 874.916 135.127 870.083 131.949L880.004 110.593C884.583 113.517 890.116 115.932 896.603 117.839C903.09 119.619 909.45 120.508 915.683 120.508C928.275 120.508 934.572 117.394 934.572 111.165C934.572 108.242 932.854 106.144 929.42 104.873C925.986 103.602 920.707 102.521 913.584 101.631C905.189 100.36 898.257 98.8983 892.787 97.2458C887.318 95.5932 882.548 92.6695 878.478 88.4746C874.535 84.2797 872.563 78.3051 872.563 70.5508C872.563 64.0678 874.408 58.3475 878.096 53.3898C881.912 48.3051 887.382 44.3644 894.505 41.5678C901.755 38.7712 910.277 37.3729 920.071 37.3729C927.321 37.3729 934.508 38.1992 941.631 39.8517C948.881 41.3771 954.859 43.5381 959.566 46.3347L949.644 67.5C940.613 62.4153 930.756 59.8729 920.071 59.8729C913.711 59.8729 908.941 60.7627 905.762 62.5424C902.582 64.322 900.992 66.6102 900.992 69.4068C900.992 72.5847 902.709 74.8093 906.143 76.0805C909.577 77.3517 915.047 78.5593 922.552 79.7034C930.946 81.1017 937.815 82.6271 943.157 84.2797C948.5 85.8051 953.142 88.6653 957.085 92.8602C961.028 97.0551 963 102.903 963 110.403C963 116.758 961.092 122.415 957.276 127.373C953.46 132.331 947.864 136.208 940.486 139.004C933.236 141.674 924.587 143.008 914.538 143.008Z"
          fill="white"
        />
      </svg>
    </NuxtLink>
  </header>
</template>

<style lang="scss">
header {
  display: flex;
  align-items: center;
  height: $header-height;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  svg {
    width: 100%;
    max-width: 13.4rem;
    height: 3rem;
  }
}
</style>
