<template>
  <div>
    <Header />

    <Nuxt />

    <Footer />
  </div>
</template>

<style lang="scss">
:root {
  font-size: 60.2%;
  scroll-behavior: smooth;

  @media (max-width: 1080px) {
    font-size: 55%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;

  .container {
    max-width: $max-content-width;
    margin: 0 auto;
    padding: 0 1.5rem;
  }
}

body,
button,
input {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
}
</style>
