<template>
  <div>
    <section id="hero">
      <div class="container">
        <div class="data">
          <h1>Somos uma equipe de tecnologia, prontos para ajudar.</h1>

          <p>
            Desenvolvemos e fazermos acompanhamento técnico em website,
            e-commerce, aplicativos mobile, projetos de integração, entre outras
            tecnologias.
          </p>

          <a href="#contact">Agendar uma conversa</a>
        </div>

        <div class="images">
          <div class="wrapper">
            <div class="image-group group-01">
              <img
                id="img-hero-01"
                v-rellax="{ speed: 5 }"
                src="~/assets/images/img-hero-01.svg"
                alt=""
              />

              <img
                id="dots-01"
                v-rellax="{ speed: 8 }"
                src="~/assets/images/dots-hero.svg"
                alt=""
              />
            </div>

            <div class="image-group group-02">
              <img
                id="dots-02"
                v-rellax="{ speed: 3 }"
                src="~/assets/images/dots-hero.svg"
                alt=""
              />

              <img
                id="img-hero-02"
                v-rellax="{ speed: 8 }"
                src="~/assets/images/img-hero-02.svg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>

      <svg
        class="arrow-down"
        width="12"
        height="14"
        viewBox="0 0 12 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L5.29289 6.70711C5.68342 7.09763 6.31658 7.09763 6.70711 6.70711L11.7071 1.70711C12.0976 1.31658 12.0976 0.683417 11.7071 0.292893C11.3166 -0.0976311 10.6834 -0.0976311 10.2929 0.292893L6 4.58579L1.70711 0.292893ZM1.70711 7.29289C1.31658 6.90237 0.683417 6.90237 0.292893 7.29289C-0.0976311 7.68342 -0.0976311 8.31658 0.292893 8.70711L5.29289 13.7071C5.68342 14.0976 6.31658 14.0976 6.70711 13.7071L11.7071 8.70711C12.0976 8.31658 12.0976 7.68342 11.7071 7.29289C11.3166 6.90237 10.6834 6.90237 10.2929 7.29289L6 11.5858L1.70711 7.29289Z"
          fill="#FF0094"
        />
      </svg>
    </section>

    <section id="clients">
      <div class="container">
        <div class="images">
          <img
            v-rellax="{ speed: 1 }"
            src="~/assets/images/contact-hero.svg"
            alt=""
          />
        </div>

        <div class="data">
          <h2>Você não precisa saber tudo sobre tecnologia</h2>

          <p>
            Deixe isso para quem entende do assunto e pode trazer resultados
            reais para o seu projeto.
          </p>
          <p>
            Com metodologias testadas e comprovadas, nós ajudamos empresas a
            melhorar a performance, usabilidade, design e experiência de projeto
            web.
          </p>
          <p>
            <strong
              >Site e e-comerce mais rápidos e bem desenvolvidos significam mais
              clientes para sua empresa.
            </strong>
          </p>
          <p>Empresas que confiam em nosso trabalho</p>

          <div class="logos">
            <!-- Euroville -->
            <img src="~/assets/images/logo-euroville.svg" alt="" />

            <!-- Pipsbazaar -->
            <img src="~/assets/images/logo-pipsbazaar.svg" alt="" />

            <!-- Tarobá -->
            <img src="~/assets/images/logo-taroba.svg" alt="" />

            <!-- Mais que cuidar -->
            <img src="~/assets/images/logo-maisquecuidar.svg" alt="" />

            <!-- Escola EDTI -->
            <img src="~/assets/images/logo-edti.svg" alt="" />

            <!-- Marco Gouveia -->
            <img src="~/assets/images/logo-marcogouveia.svg" alt="" />
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <svg
          width="823"
          height="902"
          viewBox="0 0 823 902"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M729.134 476.294C713.12 542.664 719.44 622.774 666.665 666.091C613.843 709.447 534.292 673.271 468.161 690.497C374.997 714.766 289.846 829.097 203.373 786.777C120.272 746.108 148.192 616.735 131.504 525.738C118.302 453.752 102.579 383.975 116.317 312.09C130.969 235.417 150.063 152.174 211.978 104.633C273.4 57.4721 358.475 58.7731 435.475 67.0314C503.37 74.3131 561.487 109.999 618.092 148.189C673.652 185.673 737.123 221.554 758.608 285.036C779.806 347.671 744.644 412.015 729.134 476.294Z"
            fill="#6807F9"
          />
        </svg>

        <FormChimp />
      </div>
    </section>
  </div>
</template>

<script>
import Vue from 'vue'
import VueRellax from 'vue-rellax'
import styles from '~/assets/scss/home.scss'

Vue.use(VueRellax)

export default {
  computed: {
    styles() {
      return styles
    },
  },
}
</script>
